[run]
#concurrency = multiprocessing              # Used lib for concurrent code
parallel = True
branch = True
source = /home/travis/build/bmwcarit/Emma/
omit = /home/travis/virtualenv/*

[report]
exclude_lines = 
    if __name__ == "__main__":
