__pycache__
*.pyc
*.cover
.coverage
.vscode
.test
.delta_config*
doc/tmp
doc/test/
doc/test_project/memStats
doc/test_project/results
pypiemma.egg-info/
site/

# Exclude all .svg except in the doc/image folder
*.svg
!doc/images/*


# Exclude all but .png files for UML/call graphs
doc/images/call_graph_uml/*
!doc/images/call_graph_uml/*.png

# Exclude PyCharm config files but include inspection profiles
.idea/*
!.idea/inspectionProfiles/

# Exclude the coverage reports
tests/other_files/coverage/reports/*
