__pycache__
.vscode
.test
.delta_config*
doc/tmp
doc/test/
doc/test_project/memStats
doc/test_project/results

# Exclude the content of the "genDoc/call_graph_uml" folder except the .png files
genDoc/call_graph_uml/*
!genDoc/call_graph_uml/*.png

# Exclude PyCharm config files but include inspection profiles
.idea/*
!.idea/inspectionProfiles/

# Exclude the coverate reports
tests/other_files/coverage/reports/*
