__pycache__
.vscode
.test
.delta_config*
doc/tmp
doc/callgraph_uml/
doc/call_graph_uml/
genDoc/callgraph_uml/
genDoc/call_graph_uml/
doc/test/
doc/test_project/memStats
doc/test_project/results

# Exclude PyCharm config files but include inspection profiles
.idea/*
!.idea/inspectionProfiles/
